<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>404 | Page not found</title>
</head>

<body>

		<!-- Header -->
		{{> header }}		

		<!-- Nav -->
		{{> navbar }}		

			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
            <h1>404 | Page not found</h1><hr>  
            <a href="/">Go to home page</a>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- Footer -->
		{{> footer }}	
</body>

</html>